* {
  background: #e3c2c9;
  font-family: times;
  color: #C36C3C;
}

header {
  background-color: #C36C3C;;
  height: 100px;
}

li {
  display: inline;
  text-align: justify;
  word-spacing: 30px;
  color: white;
  padding: 10px;
}

fieldset {
    background-color: #ffffe6;
    width: 100%;
    padding: 5px;
}

label {
    background-color: #ffffe6;
}

ul {
  background-color: #FF1C0D;
  display: inline-block;
  font-family: verdana;
  color: black;
}

section {
  display: block;
  width: 50%;
  float: left;
}

p {
  font-size: 20px;
  padding: 10px;
  line-height: 1.2; 
}

h1 {
  font-size: 32px;
  text-align: center;
}

h2 {
  font-size: 32px;
  text-align: center;
}

footer {
  height: 100px;
  background-color: #C36C3C;
  clear: both;
}

footer p {
  display:inline-block;
}

ul {
  display: inline-block;
  position: relative;
  Top: 40px;
  Left: 40px;
}

div div {
  background-color: #B85F68;
}

footer section {
  background-color: #C36C3C;
}

footer section p {
    font-size: 16px;
    color: white;
    float: none;
    margin: 0 auto;

}

footer section p {
  text-align: center;
  background-color: #C36C3C;
}

table, tr, td, th {
  outline: 1px solid black;
  background-color: #b3ecff;
  width: 100%;
}


#family {
  width: 600px;
  height: auto;
}

#cookie {
   width: 600px;
   height: 338px;
}

#fish {
   width: 600px;
   height: auto;
}

#cutter {
   width: 600px;
   height: 541px;
}

#chinook {
    display: block;
    margin: 0 auto;
    height: 225px;
    position: relative;
    right: 20px;
    top: 5px;
}

#merchandise {
    display: block;
    margin: 0 auto;
}

#Welcome {
  margin-top: 10px;
}

#shirt {
    display: block;
    margin: 10px auto;
}

#aboutUs {
    margin-top: 10px;
}

#cookieSales {
    background-color:teal;
  }

  #salmon {
    height: auto;
    width: 250px;
  }

#merchandise p {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#intro {
  border: 5px solid #C36C3C;
}
