* {
  background: #e3c2c9;
  font-family: verdana ref;
  color: #C36C3C;
}

header {
  background-color: #C36C3C;;
  height: 100px;
}

section {
  display: block;
  width: 50%;
  float: left;
}

p {
  font-size: 22px;
  padding: 10px;
}

table, tr, td, th {
  outline: 1px solid black;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 32px;
}

footer {
  height: 100px;
  background-color: #C36C3C;
  clear: both;
}

footer p {
  display:inline-block;
}

#salmon {
  width: 300px;
  height: auto;
}

#family {
  width: 600px;
  height: auto;
}

 #cookie {
   width: 600px;
   height: 338px;
 }

 #fish {
   width: 610px;
   height: auto;
 }

 #cutter {
   width: 600px;
   height: 541px;
   }

  #chinook {
    display: block;
    margin: 0 auto;
    height: 225px;
  }

  #merchandise {
    display: block;
    margin: 0 auto;
  }

  #shirt {
    display: block;
    margin: 0 auto;
  }

  merchandise p {
    display: block;
    margin: 0 auto;
  }
